# SaaS Starter Pack
FLOZ_ENV=development
API_PORT=3030

# Use SQLite for zero-config starting
DATABASE_URL=sqlite:saas.db

# JWT Secrets for authentication
JWT_SECRET=super_secret_development_key_do_not_use_in_prod

# Misc Configurations
FRONTEND_URL=http://localhost:5173
